apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cm
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-cm
    app.kubernetes.io/part-of: argocd
data:
  repositories: |-
    - name: gitops-repo
      url: {{ repoURL }}
      {{% if sshPrivateKeyPath is defined %}}
      type: git
      {{% else %}}
      type: https
      {{% endif %}}
      insecure: true
      insecureIgnoreHostKey: true
      {{% if sshPrivateKeyPath is defined %}}
      sshPrivateKeySecret:
        name: private-repo-creds
        key: sshPrivateKey
      {{% endif %}}
